{% extends "SF/layout.html" %}

{% block content %}
<div class="container" id="formCon">
  <form action="/workouts/new" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" name="{{ form.name.html_name }}" class="form-control" placeholder="Workout name...">
      </div>
      <div class="form-group col-md-6">
        <textarea class="form-control" name="{{ form.desc.html_name }}" rows="1" placeholder="Workout general description..."></textarea>
      </div>
    </div>

    <div class="row">
      <label for="customRange">Scale the workout 1-10</label>
      <input type="range" name="{{ form.scale.html_name }}" class="custom-range" id="customRange" min="0" max="10">
      <output class="bubble"></output>
    </div>

    <div class="row" id="topRow">
      <h5 class="col-md-8">
        Exercises
      </h5>

      <div class="col-md-4 d-flex">
        <button type="button" class="btn addNewEx" title="Add new device">Add new</button>
        <button type="button" class="btn removeEx" title="Remove new device">Delete last</button>
      </div>
    </div>

    <div class="container">
      <div class="form-row" id="duplicator">
        <h6 class="col-md-1 block-center text-center">Ex1</h6>

        <div class="col-md-3">
          <select name="{{ form.ex_1_name.html_name }}" class="form-control exercises-list">
            <option selected>Choose device..</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <select name="{{ form.ex_1_sets.html_name }}" class="form-control">
            <option selected>Number of sets...</option>
            <option value="2">1</option>
            <option value="3">2</option>
            <option value="4">3</option>
            <option value="5">4</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <select name="{{ form.ex_1_reps.html_name }}" class="form-control">
            <option selected>Repeats...</option>
            <option value="6">6-8</option>
            <option value="8">8-10</option>
            <option value="10">10-12</option>
            <option value="12">12-14</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <textarea name="{{ form.ex_1_desc.html_name }} " class="form-control" rows="1" placeholder="Description..."></textarea>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
{% endblock %}