{% extends "SF/layout.html" %}

{% block content %}
<main>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-4 ">
            <h1 id="smartfitHeader">Go Hard <br><br>&nbsp;&nbsp;Go
                Smart
            </h1>
        </div>

        <div class="col-sm-4 d-flex justify-content-center flex-wrap">
            <div class="card text-center workoutList allBox w-100">
                <a href="#" title="See full details">
                    <h4>Full body weight lifting</h4>
                </a>
                <h6>All time crusher</h6>
                <p>Diffuclty level: 9</p>
            </div>


            <br>
            <div class="card text-center workoutList allBox w-100">
                <a href="#" title="See full details">
                    <h4>Full body weight lifting</h4>
                </a>
                <h6>All time crusher</h6>
                <p>Diffuclty level: 9</p>
            </div>
            <br>
            <div class="card text-center workoutList allBox w-100">
                <a href="#" title="See full details">
                    <h4>Full body weight lifting</h4>
                </a>
                <h6>All time crusher</h6>
                <p>Diffuclty level: 9</p>
            </div>
            <br>
            <div class="card text-center workoutList allBox w-100">
                <a href="#" title="See full details">
                    <h4>Full body weight lifting</h4>
                </a>
                <h6>All time crusher</h6>
                <p>Diffuclty level: 9</p>
            </div>
            <br>
            <button type="button" class="btn workoutBtn" id="workoutBtn">Add WorkOut</button>
            <button type="button" class="btn workoutBtn">Show more</button>
        </div>


        <div class="col-sm-4 d-flex justify-content-center">
            <a href="#" id="map"></a>
        </div>
    </div>
</main>
{% endblock %}