*{
    padding:0 ;
    margin:0 ;
}

html{
    height:100%;
}
.jumbotron{
    background-color: #04323F   !important;
    
}
body{
  background: url("../images/OE7GBE0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.jumbotron a{
    display: block;
    background: url("../images/logo.png") no-repeat;
    width: 201.2px;
    height: 85px;

}
.navbar{
    background-color: rgb(10, 81, 100) !important;
}

footer{
    background-color: #04323F; 
    color: #D45812;
}

.jumbotron{
    background-color: #04323F   !important;
    margin-bottom:0;
    
}

.jumbotron a{
    display: block;
    background: url("../images/logo.png") no-repeat;
    width: 201.2px;
    height: 85px;
}

.card{
    border: 1px solid black; 
    border-radius: 20px;
    background: none !important;
}



.workoutBtn{
    margin-top:10px ;
    margin-left:10px ;   
}

button{
    text-decoration: none;
    color: #D45812 !important;
    font-size: 15px;
    background-color: #04323F !important;
}
/*-------------------Icon----------------------------------*/
#iconTrainer{
    background: url(/images/iconTrainer.png) no-repeat ;
    display: block;
    height:60px;
    color: black !important;
    font-size: 15px;
    padding-top:20px;
    padding-left:65px;
}

#iconTrainee{
    background: url(/images/iconTrainee.png) no-repeat ;
    display: block;
    height:60px;
    width:60px;
}

/*---------------------------Header----------------------*/
.row{
    flex-grow: 1;
}


#headerTrainee{
    padding-top:10px;
    color: #D45812;
    font-family: 'Permanent Marker', cursive;
    font-family:  'Headland One', serif;;
    
}




/*--------------------form---------------------------------*/
form label{
    font-weight: bold;

}

#formCon{
    padding-top:10px;
}




/*---------------------smartFit motivation-----------------*/
#smartfitHeader{
    font-family: 'Orbitron',sans-serif;
     font-size:55px;
}


/*--------------------------Map--------------------------*/

#map{
    background: url(/images/map.png);
    display: block;
    width: 230px;
    height: 280px;
    text-decoration: none;
}


/*--------------------Workouts cards------*/
.workoutcards{
    justify-content: space-evenly;
}
.workoutList{
    padding-top:10px;
    margin-top:10px;
}