<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Itamar Yarden</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/projects/assets/img/myFavicon.png" rel="icon">


  <!-- Vendor CSS Files -->
  <link href="../../static/projects/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/projects/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/projects/assets/projects/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/projects/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../static/projects/assets/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../static/projects/assets/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/projects/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v2.3.0
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body id="page-top">

  <!-- ======= Header/ Navbar ======= -->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Itamar's Portfolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#page-top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Coding projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro route bg-image"
    style="background-image: url(../../static/projects/assets/img/itamar-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">I am Itamar Yarden</h1>
          <p class="intro-subtitle"><span class="text-slider-items">enthusiastic software developer student ,Hard
              worker,Curious and patient</span><strong class="text-slider"></strong></p>
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="../../static/projects/assets/img/itamarProfile.jpg"
                          class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Itamar Yarden</span></p>
                        <p><span class="title-s">Age: </span> <span>27</span></p>
                        <p><span class="title-s">Degree: </span> <span>BSc Software engineering</span></p>
                        <p><span class="title-s">Email: </span> <span>itamary9@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>054-4328314</span></p>
                        <p><span class="title-s">Residence: </span> <span>Tel-aviv</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Devloping Skills</p>
                    <span>HTML</span> <span class="pull-right">60%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right">60%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>c++</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <span>C</span> <span class="pull-right">70%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      Secong year in bachelor's degree.
                      Taking an intrest in FullStack Developing and aspire to be a FullStack developer.
                      I am a very hard worker, I make sure that everything I do is done with 100% of seriousness.
                      I am a people's person, I love to feel part of a team and bring my skills in hand,
                    </p>
                    <p class="lead">
                      I live in Tel Aviv with my girl friend- Sima.
                      she is the biggest part of my life.
                      I was born and raised in Beer Sheva, capital of the Negev desert.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Coding Projects
              </h3>
              <p class="subtitle-a">
                Almost any coding projects I ever made.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="../../static/projects/assets/img/BoardGame.jpg"  class="venobox">
                <div class="work-img">
                  <img src="../../static/projects/assets/img/BoardGame.jpg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">BoardGame</h2>
                    <div class="w-more">
                      <span class="w-ctegory">OOP project</span> / <span class="w-date">25 June. 2020</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/itamar27/My-Cpp-projects/tree/master/BoardGame"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../static/projects/assets/img/BoardGame.jpg"  class="venobox">
              <div class="work-img">
                <img src="../../static/projects/assets/img/Mushmush.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">MushMush</h2>
                  <div class="w-more">
                    <span class="w-ctegory">OOP Project</span> / <span class="w-date">25 June. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://github.com/itamar27/My-Cpp-projects/tree/master/Mushmush"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Itamar Yarden</h4>
              <p><em>Innovative and deadline-driven developer studying for BSc in software engineering for two years now
                  and self studying development on React native. Im a team player, always thinking about the team goals and how I can contribute to the teams affort.</em></p>
              <ul>
                <li>Tel-Aviv, Israel</li>
                <li>054-4328314</li>
                <li>itamary9@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Undergraduate BSc of software engineering</h4>
              <h5>2018-Till now</h5>
              <p><em>Shenkar - College of engineering and design</em></p>
              <p>My avgerage sums to 93, and its including courses as: OOP design(through C++), Data Stracture , Algorithms, Web devlope, Data bases.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Eccopia - Technician in establishment tean</h4>
              <h5>2015 - 2016/2017</h5>
              <p><em>Negev and Arava, Israel </em></p>
              <ul>
                <li>Worked in a technical establishment team to build a solar panels cleaning robot.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Lavetach dercach -security guard</h4>
              <h5>2016 - 2017</h5>
              <p><em>Israel</em></p>
              <ul>
                <li>Escorting toruing groups from all over the world as armed security guard and medic.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Kalniot/El-Al -security guard</h4>
              <h5>2017</h5>
              <p><em>Marseille-france</em></p>
              <ul>
                <li>Worked as security in airport for israeli flight companies.</li>
              </ul>
            </div>
            <h3 class="resume-title">Military Experience</h3>
            <div class="resume-item">
              <h4>Combat figther</h4>
              <h5>2012 - 2013</h5>
              <p><em>Givati birgade </em></p>
              <ul>
                <li>Basic thorugh infantry training, and commanders course.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Platoon sergent and squad leader</h4>
              <h5>2013 - 2015</h5>
              <p><em>Givati birgade </em></p>
              <ul>
                <li>Took part in three big IDF opertaions.</li>
                <li>Led 20 soldiers into combat in 'Tzuk eitan'.</li>
                <li>Served as an replacemnt officer for 3 months to my platoon.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
      style="background-image: url(../../static/projects/assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Me A Message
                      </h5>
                    </div>
                    <div>
                      <form action="" method="post" role="form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" data-rule="required"
                                data-msg="Please write something for us" placeholder="Message"></textarea>
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 text-center mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        You can contact me in any of these social platforms
                      </p>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://www.facebook.com/itamar.yarden/"><span class="ico-circle"><i
                                class="ion-social-facebook"></i></span></a></li>
                        <li><a href="https://www.instagram.com/itamaryarden/"><span class="ico-circle"><i
                                class="ion-social-instagram"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/itamar-yarden-72b4b21b1/"><span class="ico-circle"><i
                                class="ion-social-linkedin"></i></span></a></li>
                        <li><a href="https://www.pinterest.com/itamary9/boards/"><span class="ico-circle"><i
                                class="ion-social-pinterest"></i></span></a></li>
                        <li><a href="https://github.com/itamar27"><span class="ico-circle"><i
                                class="ion-social-github"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
            -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/projects/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../static/projects/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/projects/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../../static/projects/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/projects/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../../static/projects/assets/vendor/counterup/jquery.counterup.min.js"></script>
  <script src="../../static/projects/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../../static/projects/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/projects/assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/projects/assets/js/main.js"></script>

</body>

</html>